@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 4%;
  --foreground: 0 0% 96%;
  --card: 0 0% 8%;
  --card-foreground: 0 0% 96%;
  --primary: 0 0% 96%;
  --primary-foreground: 0 0% 4%;
  --border: 0 0% 24%;
  --input: 0 0% 24%;
  --radius: 0.6rem;
}

* {
  @apply border-border;
}

body {
  @apply min-h-screen bg-background text-foreground;
}
